body{
  text-align: center;
  background-color: rgb(179, 179, 235);
  height: 1000px;
}
.parent{
  height: 300px;
  width: 60%;
  border: 2px solid red;
  margin: auto;
  text-align: center;
}
table{
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.main{
  height: 500px;
  width: 45%;
  background-color: lightblue;
  margin: auto;
  box-sizing: border-box;
 
  padding-left: 80px;
  border-radius: 15%;
  text-align: justify;
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
  height: 40px;
  width: 60%;
  border-radius: 10px;
  border-color: rgb(25, 27, 25);
  box-sizing: border-box;
  padding-left: 20px;
 
}
h1{
  text-align: center;
}
button{
  height: 40px;
  width: 40%;
  border: none;
  background-color: rgb(131, 253, 243);
  color: blue;
  border-radius: 20px;
  font-size: 18px;
}
table{
width: 80%;
margin: auto;
margin-top: 50px;
height: 200px;
border: solid gray;
border-color: brown;
}